<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jm50 | Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">

    <style>
      .card{
        margin-top:15%;
        margin-left: 40%

      }
      #body{
        background-image: url("books-1245690_1920.jpg")
      }
      .form-group{
        padding-bottom: 15%;
      }
    </style>

  </head>
  <body id="body">

    <div class="card" style="width:20rem;">

      <div class="card-body">
        <div class="card-title">
          <h1>welcome to booker</h1>
        </div>
        <p class="card-text">you can now login.</p>
        <a href="login" class="card-link"></a><button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
    <h2 style="color:brown;font-family:Roboto">Created by:Bruks</h2>

  </body>
</html>
