{%extends "layout.html"%}

{%block main%}
  <br><br><br><br><br>
    <table class="table table-dark">
        <thead>
        <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
          {%for a,b,c,d in books%}
          <tr>
            <th scope="row"><a href="books/book_detail/{{a}}" style="color:white;">{{a}}</a></th>
            <td><a href="books/book_detail/{{a}}" style="">{{b}}</a></td>
            <td><a href="books/book_detail/{{a}}" style="color:lightgreen;">{{c}}</a></td>
            <td><a href="" style="color:brown;">{{d}}</a></td>

          </tr>

          {%endfor%}
      </tbody>
    </table>


{%endblock%}
