<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./o.css">
    <style>
      .card-deck{
        margin:12%;
        margin-left: 25%;
      }
      .card{
        margin-left:30px;
      }
      #body{
        background-image: url("./static/narrative-794978_1920.jpg");

      }
      .jm{
        font-weight: 400;
        font-size: 50px;
        color: blue;
        font-stretch:extra-expanded;
      }
    </style>
  </head>
  <body id="body">
    <div class="books">
      <h1 style="font-size:30px;">signup and enjoy our collection of more than 5000 books</h1>
      <h5 style="float: right; margin-right:3%">Already have an account? <a href="{{url_for('welcome')}}">Log in</a></h5>
    </div>
    <div class="card-deck" style="width:60rem; height:35rem;">
      <div class="card" align="center">
        <div class="card-body">
          <form action="{{url_for('new')}}" method="post">
            <div class="form-group">
                <div class="card-title">

                </div>

                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name= "first_name" id="first_name" placeholder="First name" aria-describedby="firstname" required>

              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required>
              </div>
              <div class="form-group">
                <p style="color:teal;">{{r}}</p>
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email or phone number" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Agree with terms and conditions</label>
              </div>




            </div>


        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">

            </div>
              <div class="form-group">
                <h5 style="color:teal;">{{t}}</h5>
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="What do you want us to call you" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class= "form-control" name="password" id="password"  min="8" required>
              </div>
              <div class="form-group">
                <label for="confpassword">Confirm Password</label>
                <input type="password" class= "form-control" name="confpassword" id="confpassword" required>
              </div>
              <button type="submit" class="btn btn-primary">Create Account</button>

            </form>

          </div>
        </div>
    </div>
    <h6 style="color:blue;">Created by bruks</h6>
  </body>
</html>
